.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
  width: 20vw;
  font-family: fantasy;
  font-style: normal;
  font-display: inherit;
  font-variant: unset;
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
